@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

//// Variables

$color-rich-black: #0e1212; //background
$color-dark-orange: #ff9011; //links
$color-quick-silver: #a1a1a1; //info text
$color-timberwolf: #e4dfda; //title

$font-size-medium: 1.4rem; //info text
$font-size-large: 1.9rem; //sub-titles & icons
$font-size-very-large: 3rem; //title

//// Extends

%portfolio-section {
  display: grid;
  justify-items: center;
  text-align: center;
  row-gap: 20px;
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
}

%portfolio-section-title {
  margin-top: 60px;
  color: $color-timberwolf;
  font-size: $font-size-very-large;
  align-self: flex-end;
}

%portfolio-section-info {
  color: $color-quick-silver;
  font-size: $font-size-medium;
}

%menu__bar {
  background-color: $color-timberwolf;
  border-radius: 80px;
  width: 35px;
  height: 5px;
  margin: 6px 0;
  transition: transform 0.3s ease;
}

%portfolio-sub-section {
    width: 100%;
    display: grid;
    justify-content: center;
    row-gap: 15px;
    column-gap: 20px;
  }

%icon-with-text {
  display: grid;
  align-items: center;
  grid-template-columns: 3rem auto;
  column-gap: 10px;
}

%icon {
  font-size: $font-size-large;
  color: white;
  justify-self: center;
}

//// General

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
  background: $color-rich-black;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: $color-dark-orange;
}

//// Header

header {
  position: fixed;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  background-color: black;
  padding: 10px 15px;
  width: 100%;
  z-index: 99;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

// Logo

.logo {
  font-size: 25px;
  color: $color-timberwolf;
  justify-self: baseline;
}

// Menu

.menu {
  justify-self: end;
  cursor: pointer;

  &__bar-1 {
    @extend %menu__bar;
    &--active {
      transform: rotate(-45deg) translate(-9px, 6px);
    }
  }

  &__bar-2 {
    @extend %menu__bar;
    &--active {
      opacity: 0;
    }
  }

  &__bar-3 {
    @extend %menu__bar;
    &--active {
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }
}

// Navbar

.navbar {
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-column: 1 / span 2;
  font-size: $font-size-medium;
  overflow: hidden;

  &__list {
    max-height: 0;
    opacity: 0;
    transition: all 0.4s ease;

    &--active {
      opacity: 1;
      max-height: 14.5rem;
    }
  }

  &__link {
    display: block;
    padding: 15px 0;
    color: $color-timberwolf;
    text-transform: capitalize;
  }

  &__overlay {
    display: none;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;

    &--active {
      display: block;
    }
  }
}

//// Main

.intro,
.projects,
.about,
.contact {
  @extend %portfolio-section;
  &__title {
    @extend %portfolio-section-title;
  }
  &__info {
    @extend %portfolio-section-info;
  }
}

// Intro

.intro {
  &__title {
    font-size: 3.5rem;
  }

  &__image {
    border-radius: 50%;
    width: 190px;
  }
}

// Projects

.projects {
  &__wrapper {
    display: grid;
    row-gap: 20px;
  }

  &__link {
    position: relative;
    display: flex;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 500px;
  }

  &__label {
    position: absolute;
    font-size: $font-size-medium;
    padding: 5px 0;
    bottom: 0;
    background: #000000cc;
    width: 100%;
  }
}

// About

.skills {
  display: grid;
  text-align: center;
  row-gap: 20px;
  width: 100%;

  &__title {
    @extend %portfolio-section-title;
    margin-top: 0;
  }

  &__list {
    @extend %portfolio-sub-section;
    grid-template-columns: repeat(auto-fit, 9.5rem);
  }

  &__item {
    @extend %icon-with-text;
  }

  &__icon {
    @extend %icon;
  }

  &__label {
    @extend %portfolio-section-info;
  }
}

// Contact

.contact {
&__wrapper {
  @extend %portfolio-sub-section;
}


&__piece {
  @extend %icon-with-text;
}

&__link {
  align-self: center;
}

  &__icon {
    @extend %icon;
  }

  &__info {
    text-align: left;
  }
}

//// Custom Scrollbar

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}
